body{
    margin-top: 20%;
}
.container {
    font-size: 60px;
    background: #101010;
    color: white;
    border-radius: 15px;
    
}
.row{
    text-align: center;
}
    
.digits{
    border: 5px solid rgb(149, 147, 147);
    background-color: #101010;

}